{% extends  "InnovaAudioRecorderBundle::layout.html.twig" %}
{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block audio_recorder_content %}
    <!-- PANEL HEADER -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12 ">
                <h3 class="panel-title"> {{_resource.resourceNode.name}} </h3>
            </div>
        </div>
    </div>
    <!-- PANEL BODY -->
    <div class="panel-body">
      <h1>my audio file open view</h1>
    </div>
    <input type="hidden" name="assets" value="{{asset('')}}"/>

{% endblock %}
